@charset "UTF-8";
@import url(reset.css);
:root {
  --foreground: #fff;
  --background: #ECEFF4;
  --background-alt: #D8DEE9;
  --text: #3B4252;
  --faded: rgba(59, 66, 82, 0.5);
  --accent: #BF616A;
  --error: red;
  --warning: #D08770;
  --valid: #8FBCBB;
  --border: #D8DEE9;
  --p-margin: 1em;
  --border-radius: 3px;
  --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
  --scrollbar-thumb: var(--foreground);
  --scrollbar-background: var(--border);
  --scrollbar-border: var(--background-alt);
  --footer-background: #292e39;
  --footer-color: rgba(216, 222, 233, 0.5); }

::-moz-selection {
  background-color: var(--faded);
  color: var(--background); }

::selection {
  background-color: var(--faded);
  color: var(--background); }

.dark-mode {
  --foreground: #2E3440;
  --background: #292e39;
  --background-alt: #3B4252;
  --text: rgba(216, 222, 233, 0.8);
  --faded: rgba(216, 222, 233, 0.5);
  --accent: hsl(0, 34%, 55%);
  --border: #3f4858;
  --scrollbar-thumb: var(--border);
  --scrollbar-background: var(--background);
  --scrollbar-border: transparent;
  --footer-background: rgba(0, 0, 0, 0.25); }

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #2E3440;
    --background: #292e39;
    --background-alt: #3B4252;
    --text: rgba(216, 222, 233, 0.8);
    --faded: rgba(216, 222, 233, 0.5);
    --accent: hsl(0, 34%, 55%);
    --border: #3f4858;
    --scrollbar-thumb: var(--border);
    --scrollbar-background: var(--background);
    --scrollbar-border: transparent;
    --footer-background: rgba(0, 0, 0, 0.25); } }

* {
  box-sizing: border-box; }

html {
  background: var(--background); }

body, .mail-main {
  color: var(--text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  line-height: 2;
  font-size: 14px; }

a {
  color: var(--accent);
  text-decoration: none; }
  a.on {
    opacity: 1;
    color: var(--text); }

hr {
  border: 0;
  border-top: 1px solid var(--border);
  margin-top: calc(2*var(--p-margin));
  margin-bottom: calc(2*var(--p-margin)); }

p, .paragraph {
  margin-bottom: var(--p-margin); }

b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.15em;
  margin: var(--p-margin) 0;
  padding-top: var(--p-margin); }

img {
  display: inline-block;
  border-radius: var(--border-radius);
  max-width: 100%;
  height: auto; }

.spip_documents {
  width: auto !important;
  margin-bottom: var(--p-margin); }
  .spip_documents a {
    display: inline-block; }
    .spip_documents a img {
      display: block; }
  .spip_documents .spip_doc_titre {
    width: 100% !important;
    max-width: 100% !important; }

.spip_documents_center {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100% !important; }
  .spip_documents_center.small {
    width: 40% !important; }

.spip_documents_left {
  max-width: 40%;
  margin-right: var(--p-margin);
  float: left; }
  .spip_documents_left.small {
    width: 20% !important; }

.spip_documents_right {
  max-width: 40%;
  margin-left: var(--p-margin);
  float: right; }
  .spip_documents_right.small {
    width: 20% !important; }

dl.spip_documents {
  margin-bottom: var(--p-margin); }

.video {
  margin-bottom: var(--p-margin);
  border-radius: var(--border-radius);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  padding-bottom: 45%;
  position: relative;
  overflow: hidden;
  font: inherit;
  text-align: center; }
  .video:before {
    content: "▶";
    font-size: 5em;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    color: #ECEFF4;
    text-shadow: 0 0 5px #333;
    margin-top: -7px; }
  .video .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    color: #eee;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px; }
  .video img {
    display: none; }

ul.spip {
  margin-bottom: var(--p-margin);
  list-style: disc;
  padding-left: var(--p-margin);
  margin-left: var(--p-margin); }

ol.spip {
  margin-bottom: var(--p-margin);
  list-style: decimal;
  padding-left: var(--p-margin);
  margin-left: var(--p-margin); }

blockquote.spip,
blockquote.spip_poesie {
  border-left: 4px solid var(--border);
  margin-bottom: var(--p-margin);
  border-radius: var(--border-radius);
  padding: 0 var(--p-margin); }
  blockquote.spip p,
  blockquote.spip_poesie p {
    margin: 0; }
  blockquote.spip.on,
  blockquote.spip_poesie.on {
    border-left-color: var(--accent); }
  blockquote.spip.spip_poesie,
  blockquote.spip_poesie.spip_poesie {
    font-style: italic; }

.ariane, .ariane a {
  color: var(--faded); }

article .date, .article .date {
  margin-bottom: var(--p-margin); }

article .date, article .date a, article .ariane, article .ariane a, .article .date, .article .date a, .article .ariane, .article .ariane a {
  color: var(--faded); }

article .notes, .article .notes {
  margin-top: calc(var(--p-margin) * 2);
  padding-top: calc(var(--p-margin) * 2);
  border-top: 1px solid var(--border); }

article .pagination, .article .pagination {
  display: inline-block;
  font-size: 75%; }
  article .pagination .pagination-items, .article .pagination .pagination-items {
    display: flex;
    flex-direction: row-reverse; }
  article .pagination .sep, .article .pagination .sep {
    display: none; }
  article .pagination strong, .article .pagination strong {
    font-weight: normal; }
  article .pagination > a, .article .pagination > a {
    display: none; }
  article .pagination .next, article .pagination .prev, article .pagination .permalink, .article .pagination .next, .article .pagination .prev, .article .pagination .permalink {
    margin-left: var(--p-margin);
    background: var(--accent);
    color: var(--background);
    border-radius: var(--border-radius); }
    article .pagination .next a, article .pagination .next strong, article .pagination .prev a, article .pagination .prev strong, article .pagination .permalink a, article .pagination .permalink strong, .article .pagination .next a, .article .pagination .next strong, .article .pagination .prev a, .article .pagination .prev strong, .article .pagination .permalink a, .article .pagination .permalink strong {
      color: inherit;
      padding: 0 10px;
      display: block; }
    article .pagination .next.disabled, article .pagination .prev.disabled, article .pagination .permalink.disabled, .article .pagination .next.disabled, .article .pagination .prev.disabled, .article .pagination .permalink.disabled {
      background: var(--background-alt);
      color: var(--faded);
      padding: 0 10px; }

article .header, .article .header {
  --logo-size: 100px;
  display: flex; }
  article .header .logo, .article .header .logo {
    margin-bottom: var(--p-margin); }
  article .header .title, .article .header .title {
    display: flex;
    justify-content: center;
    flex-direction: column; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.card {
  background: var(--foreground);
  border: 1px solid var(--border);
  padding: var(--p-margin) var(--p-margin);
  margin-bottom: var(--p-margin);
  border-radius: var(--border-radius);
  opacity: 0.7; }
  .card p {
    margin: 0; }
  .card.on {
    border-left-color: var(--accent); }

.button, input:not([type="radio"]), textarea, select {
  padding: 0;
  box-sizing: inherit;
  padding: 0 5px;
  border: 1px solid var(--border);
  background: var(--foreground);
  font: inherit;
  color: inherit;
  border-radius: var(--border-radius); }
  .button:focus, input:not([type="radio"]):focus, textarea:focus, select:focus {
    background-color: var(--background); }

.button {
  padding: 0 10px;
  line-height: 30px;
  color: inherit;
  display: inline-block;
  cursor: pointer; }
  .button.accent {
    background: var(--accent);
    border-color: var(--accent);
    color: var(--foreground); }
    .button.accent:focus {
      opacity: 0.75; }
  .button.danger {
    --accent: var(--error); }
  .button.valid {
    --accent: var(--valid); }
  .button[disabled], .button.disabled {
    color: var(--faded);
    background: var(--background-alt);
    border-color: var(--border);
    opacity: 0.75;
    pointer-events: none;
    cursor: default; }

.formulaire_newsletter input[type="email"] {
  border: 0;
  background: var(--background-alt);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  text-align: center; }
  .formulaire_newsletter input[type="email"]:focus {
    outline: 0;
    box-shadow: 0; }

.formulaire_newsletter input.submit {
  border: 0;
  width: 100%;
  padding: 0 10px;
  line-height: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  cursor: pointer;
  background: var(--accent);
  color: var(--foreground); }
  .formulaire_newsletter input.submit:focus {
    opacity: 0.75; }

.liste-articles {
  --logo-size: 50px;
  margin-top: var(--p-margin); }
  .liste-articles .item {
    display: flex;
    margin-bottom: var(--p-margin);
    align-self: center; }
  .liste-articles .title {
    height: var(--logo-size);
    display: flex;
    align-items: center; }

.logo {
  width: var(--logo-size);
  height: var(--logo-size);
  margin-right: var(--p-margin);
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--foreground), 0 0 3px 4px rgba(0, 0, 0, 0.2);
  background-position: center;
  background-size: cover;
  background-color: var(--foreground);
  position: relative; }
  .logo:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 3px 1px inset rgba(0, 0, 0, 0.2);
    z-index: 1; }

html, body {
  height: 100%;
  overflow: hidden; }

.scroller {
  height: 100%;
  overflow-y: scroll; }

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
  position: relative; }

header {
  background: var(--foreground);
  position: sticky;
  top: calc(-10.1em - 1px);
  z-index: 10;
  padding: 6em 0 1em;
  overflow: hidden;
  box-shadow: 0 0 1.2em 0 rgba(0, 0, 0, 0.05); }
  header hr {
    margin: 1em 0 1em;
    display: none; }
  header h1 {
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1; }
  header .slogan {
    color: var(--faded);
    margin-bottom: var(--p-margin); }

nav {
  overflow: hidden; }
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-left: -10px;
    margin-right: -10px; }
  nav li {
    padding: var(--p-margin) 10px 0;
    box-sizing: border-box;
    border-top: 1px solid var(--border);
    white-space: nowrap;
    min-width: 0;
    overflow: hidden; }
    nav li.on {
      border-color: var(--text); }
      nav li.on a {
        color: var(--text); }
  nav a {
    display: block; }
  nav .small a {
    display: inline;
    font-size: 75%;
    color: var(--faded); }
  nav .spacer {
    flex: 1; }

footer {
  background: transparent;
  padding: 2em 0;
  background: var(--footer-background);
  color: var(--footer-color);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 75%; }
  footer a {
    opacity: 0.85; }

main {
  min-height: calc(100% - 14em);
  padding: 20px 0; }
  main .wrapper {
    display: flex;
    flex-direction: row; }
    main .wrapper .col-left {
      flex: 1; }
      main .wrapper .col-left > h3:first-child {
        margin-top: 0;
        padding-top: 0 !important; }
    main .wrapper .col-right {
      width: 240px;
      margin-left: calc(var(--p-margin) * 2); }
      main .wrapper .col-right .button {
        width: 100%;
        text-align: center; }
      main .wrapper .col-right .video:before {
        font-size: 2.5em; }

@media (max-width: 940px) {
  main .wrapper {
    display: block; }
    main .wrapper .col-right {
      margin-left: 0;
      margin-top: var(--p-margin);
      width: 100%; } }

#dark-mode-switch {
  position: absolute;
  top: 0;
  right: 20px;
  width: 14px;
  height: 14px;
  cursor: pointer; }
  #dark-mode-switch.ready .icon {
    transition: opacity 0.5s; }
  #dark-mode-switch.ready path {
    transition: fill 1s; }
  #dark-mode-switch .icon {
    position: absolute;
    width: 14px;
    height: 14px; }
  #dark-mode-switch svg {
    width: 14px;
    height: 14px; }
  #dark-mode-switch path {
    fill: var(--faded); }
  #dark-mode-switch .moon {
    opacity: 1; }
  #dark-mode-switch .sun {
    opacity: 0; }

.dark-mode #dark-mode-switch .moon {
  opacity: 0; }

.dark-mode #dark-mode-switch .sun {
  opacity: 1; }

.spip-admin-float {
  right: calc(100% - 970px) !important;
  font-size: 75%; }
  .spip-admin-float * {
    font-weight: normal !important; }

::-webkit-scrollbar {
  height: 10px;
  width: 10px; }

::-webkit-scrollbar-track {
  border-left: 1px solid var(--scrollbar-border);
  background: var(--scrollbar-background); }

::-webkit-scrollbar-thumb {
  border-left: 1px solid var(--scrollbar-border);
  background: var(--scrollbar-thumb); }
